.top__search-box {
    position: relative;
    margin-bottom: 16px;
  }
  .top__search-input {
    width: 100%;
    background-color: #6750A40D;
    border: none;
    border-radius: 28px;
    font-size: 16px;
    font-weight: 400;
    padding: 12px 48px 12px 20px;
  }
  .top__search-icon {
    position: absolute;
    right: 17px;
    top: 15px;
  }
  
  .top .title {
    margin-bottom: 4px;
  }
  .top .subtitle {
    margin-bottom: 16px;
  }